{% extends "base.html" %}
{% block title %}Reset Your Password{% endblock %}
{% block content %}
<h2>Password Reset</h2>
<p>Hi {{ first_name }},</p>
<p>We received a request to reset your password. Click the button below to choose a new one:</p>
<p style="text-align: center;">
  <a href="{{ reset_url }}" class="button">Reset Password</a>
</p>
<p class="muted">This link expires in 1 hour. If you didn't request a password reset, you can safely ignore this email. Your password will remain unchanged.</p>
<p class="muted">If the button doesn't work, copy and paste this URL into your browser:<br>{{ reset_url }}</p>
{% endblock %}
